<!DOCTYPE html>
<html>
  <head>
    <title><%= avatar.name %></title>
  </head>
  <body>
    <h1><%= avatar.name %></h1>
    <div><%= avatar.svg %></div>
    <a href="/">Back to avatar list</a>
  </body>
</html>
