<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="../stylesheets/auth.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to the Home Page</h1>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </div>
</body>
</html>
