<!DOCTYPE html>
<html>
  <head>
    <title>User Management</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/layout.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/users">Home</a></li>
        <li><a href="/users/new">Add User</a></li>
        <li style="float: right">
          <form action="/auth/logout" method="POST" style="display: inline">
            <button type="submit">Logout</button>
          </form>
        </li>
      </ul>
    </nav>
    <%# body %>
  </body>
</html>
