<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users Management Panel</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/layout.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <div class="navbar-title">Users Management Panel</div>
      <ul>
        <li><a href="/users">Home</a></li>
        <li><a href="/users/new">Add User</a></li>
        <li style="float: right">
          <form action="/auth/logout" method="POST" style="display: inline">
            <button type="submit">Logout</button>
          </form>
        </li>
      </ul>
    </nav>
    <div class="container"><%# body %></div>
  </body>
</html>
