<%- include('layout') %>
<link rel="stylesheet" type="text/css" href="../stylesheets/new.css" />'
<h1>Add New User</h1>

<form action="/users" method="POST">
  <input type="text" name="username" placeholder="Username" required />
  <input type="password" name="password" placeholder="Password" required />
  <input type="email" name="email" placeholder="Email" required />
  <button type="submit">Add User</button>
</form>
