<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
  <link rel="stylesheet" href="../stylesheets/auth.css">
</head>
<body>
  <div class="container">
    <h1>Profile Page</h1>
    <p>Welcome, <%= user.name %>!</p>
    <p>Email: <%= user.email %></p>
    <p>Username: <%= user.username %></p>
    <form action="/logout" method="POST">
      <button type="submit">Log Out</button>
    </form>
  </div>
</body>
</html>
