<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add User</title>
    <link rel="stylesheet" href="/stylesheets/form_style.css" />
  </head>
  <body>
    <h1>Add User</h1>

    <div class="button-container">
      <button onclick="resetForm()">Reset</button>
      <button onclick="fetchRandomUser()">Random User</button>
    </div>

    <form action="/users/user_add" method="POST">
      <table>
        <tr>
          <th>Thumbnail</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Date of Birth</th>
          <th>Password</th>
          <th>Confirm Password</th>
        </tr>
        <tr>
          <td>
            <select name="thumbnail" id="thumbnail" required>
              <option value="">Select Image</option>
              <option value="../svg/avatar-svgrepo-com-male-1.svg">
                Male 1
              </option>
              <option value="../svg/avatar-svgrepo-com-male-2.svg">
                Male 2
              </option>
              <option value="../svg/avatar-svgrepo-com-male-3.svg">
                Male 3
              </option>
              <option value="../svg/avatar-svgrepo-com-female-1.svg">
                Female 1
              </option>
              <option value="../svg/avatar-svgrepo-com-female-2.svg">
                Female 2
              </option>
              <option value="../svg/avatar-svgrepo-com-female-3.svg">
                Female 3
              </option>
            </select>
            <img
              id="thumbnailPreview"
              src="../svg/avatar-svgrepo-com-male-1.svg"
              alt="User Thumbnail"
              style="width: 50px; height: auto"
            />
          </td>
          <td>
            <select name="title" id="title" required>
              <option value="">Select Title</option>
              <option value="Mr">Mr</option>
              <option value="Ms">Ms</option>
              <option value="Mrs">Mrs</option>
              <option value="Dr">Dr</option>
            </select>
            <input
              type="text"
              name="first"
              id="firstName"
              placeholder="First Name"
              required
            />
            <input
              type="text"
              name="last"
              id="lastName"
              placeholder="Last Name"
              required
            />
          </td>
          <td>
            <select name="gender" id="gender" required>
              <option value="">Select Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </td>
          <td>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Email"
              required
            />
          </td>
          <td>
            <input
              type="tel"
              name="phone"
              id="phone"
              placeholder="Phone"
              required
            />
          </td>
          <td>
            <input
              type="text"
              name="street"
              id="street"
              placeholder="Street"
              required
            />
            <input
              type="text"
              name="city"
              id="city"
              placeholder="City"
              required
            />
            <input
              type="text"
              name="state"
              id="state"
              placeholder="State"
              required
            />
            <input
              type="text"
              name="country"
              id="country"
              placeholder="Country"
              required
            />
            <input
              type="text"
              name="postcode"
              id="postcode"
              placeholder="Postcode"
              required
            />
          </td>
          <td>
            <input type="date" name="dob" id="dob" required />
          </td>
          <td>
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
            />
          </td>
          <td>
            <input
              type="password"
              name="confirm_password"
              placeholder="Confirm Password"
              required
            />
          </td>
        </tr>
      </table>
      <div class="button-container">
        <button type="submit">Add User</button>
      </div>
    </form>

    <script>
      function resetForm() {
        document.querySelector('form').reset();
        document.getElementById('thumbnailPreview').src =
          '../svg/avatar-svgrepo-com-male-1.svg'; // Reset thumbnail
      }

      function generateRandomUser() {
        alert('Random User functionality not implemented.');
      }

      function updateThumbnailPreview() {
        const thumbnailSelect = document.getElementById('thumbnail');
        const selectedThumbnail = thumbnailSelect.value;
        document.getElementById('thumbnailPreview').src = selectedThumbnail;
      }

      function randomizeSVG() {
        const thumbnails = [
          '../svg/avatar-svgrepo-com-male-1.svg',
          '../svg/avatar-svgrepo-com-male-2.svg',
          '../svg/avatar-svgrepo-com-male-3.svg',
          '../svg/avatar-svgrepo-com-female-1.svg',
          '../svg/avatar-svgrepo-com-female-2.svg',
          '../svg/avatar-svgrepo-com-female-3.svg',
        ];

        const randomIndex = Math.floor(Math.random() * thumbnails.length);
        const selectedThumbnail = thumbnails[randomIndex];

        document.getElementById('thumbnail').value = selectedThumbnail;
        document.getElementById('thumbnailPreview').src = selectedThumbnail;
      }

      async function fetchRandomUser() {
        try {
          const response = await fetch('/external/randomuser/user_get');
          const data = await response.json();
          const user = data.results[0];

          // Populate fields with user data
          document.getElementById('firstName').value = user.name.first;
          document.getElementById('lastName').value = user.name.last;
          document.getElementById('gender').value = user.gender;
          document.getElementById('email').value = user.email;
          document.getElementById('phone').value = user.phone;
          document.getElementById('street').value = user.location.street.name;
          document.getElementById('city').value = user.location.city;
          document.getElementById('state').value = user.location.state;
          document.getElementById('country').value = user.location.country;
          document.getElementById('postcode').value = user.location.postcode;
          document.getElementById('dob').value = user.dob.date.split('T')[0]; // Format date
          document.getElementById('title').value = user.name.title; // Update title based on fetched data

          randomizeSVG(); // Randomly select an SVG after fetching user
        } catch (error) {
          console.error('Error fetching random user:', error);
          alert('Failed to fetch random user.');
        }
      }
    </script>
  </body>
</html>
