<!-- /* From Uiverse.io by vinodjangid07 */ -->
<button class="Btn">
  <link rel="stylesheet" href="css/styles.css" />
  Delete
  <img src="../svg/delete.svg" alt="Delete Icon" width="24" height="24" />
</button>
