<!-- /* From Uiverse.io by hannahyockel */ -->
<link rel="stylesheet" href="stylesheets/partial/button.css" />
<button class="tooltip">
  <img src="svg/detail.svg" alt="Detail Icon" width="24" height="24" />
  <span class="tooltiptext">detail</span>
</button>
