<!-- /* From Uiverse.io by vinodjangid07 */ -->
<button class="md_btn">
  <link rel="stylesheet" href="stylesheets/partial/button.css" />
  Export
  <img src="svg/export.svg" alt="Export Icon" width="24" height="24" />
</button>
