<!-- /* From Uiverse.io by vinodjangid07 */ -->
<button class="Btn">
  <link rel="stylesheet" href="css/styles.css" />
  Logout
  <img src="../svg/logout.svg" alt="Logout Icon" width="24" height="24" />
</button>
