<!-- /* From Uiverse.io by vinodjangid07 */ -->
<button class="Btn">
  <link rel="stylesheet" href="css/styles.css" />
  Search
  <img src="../svg/search.svg" alt="Search Icon" width="24" height="24" />
</button>
